/* Color Pallet:
  #F4F1DE
  #E07A5F
  #3D405B
  #81B29A
  #F2CC8F */

body {
  background-color: #F4F1DE;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 1rem
}

#store-select {
  margin-top: 2rem;
  margin-left: 2rem;
}

#stores {
  padding: 6px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1rem;
  background-color: #81B29A;
  color: #F2CC8F;
  cursor: pointer;
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  flex-grow: 1;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.category-name {
  align-self: center;
  background-color: #E07A5F;
  padding: 1rem;
  width: 80%;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #3D405B;
  border-radius: 22px;
  border: 5px dotted #3D405B;
}

.items-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  font-family: monospace;
  font-size: 1rem;
}

input {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #F4F1DE;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #3D405B;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #3D405B;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #3D405B;
  /* Windows High Contrast Mode */
  background-color: #F4F1DE;
}

input:checked::before {
  transform: scale(1);
}

label {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
  margin-bottom: 0.5em;
}

#button-container {
  align-self: flex-end;
  margin-right: 2rem;
}

#create-list {
  padding: 11px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1rem;
  background-color: #81B29A;
  border: 0px;
  color: #F2CC8F;
  box-shadow: #3d405b 3px 3px 4px;
  cursor: pointer;
}

#create-list:active {
  box-shadow: #3d405b 2px 2px 3px;
}

#list-header {
  margin-left: 2rem;
  font-family: 'Righteous', cursive;
  color: #3D405B
}

.list {
  margin-left: 2rem;
  font-family: monospace;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.list-details {
  font-family: monospace;
  font-size: 1.25em;
  margin-left: 1rem;
}